In [127]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('data/billboard-200.db')

In [128]:
albums_table = pd.read_sql_query('select * from albums', conn)[1:]

## Cleaning

Convert rank to integer, and add a column named 'power' to represent the value of each album's position on the ranking. Higher ranked means more power.

In [129]:
albums_table['rank'] = pd.to_numeric(albums_table['rank'], downcast='signed')
albums_table['power'] = 1 / albums_table['rank']
albums_table['date'] = pd.to_datetime(albums_table['date'])

In [130]:
albums_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573946 entries, 1 to 573946
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            573946 non-null  int64
 1   date          573946 non-null  datetime64[ns]
 2   artist        573946 non-null  object
 3   album         573946 non-null  object
 4   rank          573946 non-null  int16
 5   length        492547 non-null  float64
 6   track_length  468867 non-null  float64
 7   power         573946 non-null  float64
dtypes: datetime64[ns](1), float64(3), int16(1), int64(1), object(2)
memory usage: 31.7+ MB

In [131]:
albums_table.head()

,id,date,artist,album,rank,length,track_length,power
1,2,2019-01-19,A Boogie Wit da Hoodie,Hoodie SZN,1,20.0,185233.800000,1.000000
2,3,2019-01-19,21 Savage,I Am > I Was,2,15.0,211050.733333,0.500000
3,4,2019-01-19,Soundtrack,Spider-Man: Into The Spider-Verse,3,13.0,190866.384615,0.333333
4,5,2019-01-19,Meek Mill,Championships,4,19.0,219173.894737,0.250000
5,6,2019-01-19,Post Malone,beerbongs & bentleys,5,18.0,214113.611111,0.200000

In [138]:
# fill in missing artist names
albums_table[albums_table['album']=='Silhouette'] = albums_table[albums_table['album']=='Silhouette'].replace({'':'Kenny G'})
albums_table[albums_table['album']=='Roots Of Country Music (1965)'] = albums_table[albums_table['album']=='Roots Of Country Music (1965)'].replace({'':'Various Artists'})

## Organizing and Refactoring

Create two subtables; one to represent every album that appears in the rankings, and one represent each artist that appears.

In [139]:
# albums: aggregated data about every album
albums = (albums_table.groupby(['album', 'artist'])
                      .agg({'power': 'sum',
                            'rank' : ['count', 'mean'],
                            'date' : ['min', 'max'],
                            'length': 'first',
                            'track_length': 'first'})
         )

albums.columns = ['power_rank',
                  'num_appearances',
                  'average_rank',
                  'first_appearance',
                  'last_appearance',
                  'length',
                  'track_length']
albums = albums.reset_index()

In [142]:
# artists: aggregated data about every artist
artists = (albums_table.groupby('artist')
                       .agg({'power': 'sum',
                             'rank' : ['count', 'mean'],
                             'album': 'nunique',
                             'date' : ['min', 'max']})
          )

artists.columns = ['power_rank',
                   'num_appearances',
                   'average_rank',
                   'num_albums',
                   'first_appearance',
                   'last_appearance',]

In [147]:
# artists.to_csv('data/artists.csv')
# albums.to_csv('data/albums.csv')

In [151]:
albums.sort_values('power_rank', ascending=False).head(30)

,album,artist,power_rank,num_appearances,average_rank,first_appearance,last_appearance,length,track_length
32333,Thriller,Michael Jackson,53.968268,348,100.962644,1982-12-25,2019-01-19,30.0,282689.866667
405,21,Adele,49.533427,396,76.053030,2011-03-12,2019-01-19,11.0,261895.454545
24520,Rumours,Fleetwood Mac,41.450505,303,97.943894,1977-02-26,2019-01-19,58.0,NaN
7259,Days Of Wine And Roses,Andy Williams,36.437628,122,39.491803,1963-01-05,1965-06-05,12.0,162825.333333
22496,Please Hammer Don't Hurt 'Em,M.C. Hammer,32.843873,108,43.629630,1990-03-10,1992-05-02,NaN,NaN
31296,The Sound Of Music,Soundtrack,31.898269,238,40.281513,1965-03-20,2015-04-04,16.0,169718.875000
4491,Born In The U.S.A.,Bruce Springsteen,31.812714,143,44.797203,1984-06-23,2015-07-25,12.0,240010.750000
15031,Jagged Little Pill,Alanis Morissette,31.546801,127,34.740157,1995-07-01,2016-05-28,13.0,237861.307692
23004,Purple Rain (Soundtrack),Prince And The Revolution,29.410815,126,83.666667,1984-07-14,2019-01-05,9.0,NaN
7742,Dirty Dancing,Soundtrack,28.610932,96,41.697917,1987-09-19,1989-07-15,13.0,203054.000000
28999,The Bodyguard,Whitney Houston,28.607555,155,61.638710,1992-12-05,2012-05-26,12.0,280579.166667
24415,Ropin' The Wind,Garth Brooks,27.610702,132,69.651515,1991-09-28,1994-10-08,NaN,NaN
24750,Saturday Night Fever,Soundtrack,27.394352,137,78.576642,1976-12-25,2017-05-06,21.0,224416.142857
35131,Whipped Cream & Other Delights,Herb Alpert's Tijuana Brass,26.176277,185,35.394595,1965-05-15,1968-12-07,12.0,142700.833333
314,1989,Taylor Swift,26.101810,212,68.882075,2014-11-15,2019-01-19,13.0,221366.000000
35200,Whitney Houston,Whitney Houston,24.785012,176,58.039773,1985-03-30,2012-05-19,11.0,273271.272727
18572,Mary Poppins,Soundtrack,24.584768,122,40.344262,1964-10-03,1973-09-22,27.0,180508.851852
9478,Faith,George Michael,24.509150,96,36.166667,1987-11-21,2017-03-11,10.0,335086.300000
25178,Sgt. Pepper's Lonely Hearts Club Band,The Beatles,24.419642,223,90.668161,1967-06-24,2019-01-05,13.0,186493.923077
26057,Some Gave All,Billy Ray Cyrus,24.033153,97,51.278351,1992-06-06,1994-04-16,10.0,215845.000000
28076,Tapestry,Carole King,24.008451,318,118.701258,1971-04-10,2016-04-16,12.0,222795.166667
25800,Slippery When Wet,Bon Jovi,23.464278,118,64.542373,1986-09-13,2016-08-06,10.0,270302.200000
27856,Synchronicity,The Police,23.146867,75,47.520000,1983-07-02,1984-12-01,11.0,253214.818182
18502,Mariah Carey,Mariah Carey,22.986374,113,46.123894,1990-06-30,1992-08-22,10.0,222397.000000
10250,Forever Your Girl,Paula Abdul,22.981435,175,76.188571,1988-07-23,1992-02-22,10.0,261406.200000
10596,Frozen,Soundtrack,22.937720,118,67.694915,2013-12-14,2019-01-19,59.0,NaN
34086,Views,Drake,22.687908,140,34.892857,2016-05-21,2019-01-19,20.0,238450.900000
10356,Frampton Comes Alive,Peter Frampton,22.638013,97,45.618557,1976-01-31,1977-12-03,19.0,362268.368421
13564,Hysteria,Def Leppard,22.495298,136,41.360294,1987-08-22,2018-02-10,47.0,320167.702128
9667,Fearless,Taylor Swift,22.474270,255,92.376471,2008-11-29,2018-05-05,13.0,246177.000000

In [152]:
artists.sort_values('power_rank', ascending=False).head(30)

,power_rank,num_appearances,average_rank,num_albums,first_appearance,last_appearance
artist,,,,,,
Soundtrack,1031.829957,25177,93.536799,1576,1963-01-05,2019-01-19
Various Artists,358.729772,14867,109.389386,1599,1963-01-05,2019-01-12
The Beatles,238.403536,2786,93.643575,58,1964-02-01,2019-01-19
The Rolling Stones,133.286723,1879,82.704098,54,1964-06-27,2019-01-19
Barbra Streisand,113.403840,1864,68.194206,61,1963-01-05,2018-11-24
Garth Brooks,112.018831,1323,71.811036,21,1990-05-12,2018-01-13
Michael Jackson,110.760227,1631,100.090129,29,1972-02-19,2019-01-19
Mariah Carey,92.423169,886,69.568849,21,1990-06-30,2019-01-12
Elton John,91.140103,1745,88.152436,47,1970-10-03,2019-01-19
Taylor Swift,90.105030,1165,76.998283,9,2006-11-11,2019-01-19
Whitney Houston,84.307410,746,69.178284,13,1985-03-30,2019-01-12
Bruce Springsteen,82.375587,951,92.921136,30,1975-07-26,2019-01-05
Eminem,82.245240,1759,107.418988,10,1999-03-13,2019-01-19
Fleetwood Mac,80.265339,1142,92.673380,26,1968-08-17,2019-01-19
Led Zeppelin,75.457241,1334,104.031484,21,1969-02-15,2018-11-17
Adele,74.034883,775,73.563871,5,2008-06-28,2019-01-19
Stevie Wonder,72.587014,956,74.680962,29,1963-01-05,2019-01-05
Eagles,72.004920,1150,98.359130,14,1972-06-24,2019-01-19
Chicago,68.275903,1152,76.963542,33,1969-05-17,2017-01-28
Drake,68.248391,1165,75.501288,8,2009-10-03,2019-01-19
Herb Alpert & The Tijuana Brass,66.608869,918,63.752723,12,1965-01-16,1984-10-27
Billy Joel,66.395841,995,82.374874,24,1974-01-05,2019-01-19
Madonna,65.494153,1055,77.235071,24,1983-09-03,2016-09-10
Andy Williams,65.308450,1061,71.628652,36,1963-01-05,2019-01-05
Santana,63.487823,842,71.874109,31,1969-09-13,2016-06-11
Rod Stewart,62.714587,1289,80.350659,43,1969-12-13,2018-10-13
The Monkees,62.041582,533,79.872420,16,1966-10-08,2016-09-03
Pink Floyd,60.189000,1613,123.736516,25,1967-12-02,2019-01-12
Celine Dion,59.978555,826,80.461259,15,1991-01-19,2019-01-05
U2,58.014803,1268,99.602524,23,1981-03-14,2018-03-24